.resetpassword{
    background-color: rgb(41, 44, 44);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

}
.resetpassword form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 30%;
    border: 1px solid white;
    gap: 10px;
}
.resetpassword form input{
    height: 30px;
    width: 270px;
}
.resetpassword form button{
    height: 30px;
    width: 270px;
}